tools
data
acute_rna/
sequence_processing/logs/
sequence_processing/tmp.png
tmp.png
analysis/logs/
sequence_processing/snakemake/logs/slurm/*
analysis/data/
sequence_processing/snakemake/.snakemake/
sequence_processing/snakemake/logs
*.bam
*.err
*.out
sequence_processing/snakemake_acute_rna/.snakemake/
sequence_processing/snakemake_acute_rna/logs
